body {
    font-family: Arial, sans-serif;
    width: 300px;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.concluida {
    text-decoration: line-through;
    color: gray;
}
